<div class="about_contest">
  <span class='highlight'>Открытый конкурс «Томские таланты»</span> — открытая арт-арена, творческая площадка, конкурс талантов, посвященный празднованию 410-летия г. Томска, проходящего в рамках Года культуры в России.
  <p>
    Организаторами открытого конкурса «Томские таланты» выступают Депутат Думы г. Томска Самохвалова Л.И. и Томское региональное отделение Партии  «Единая Россия». Мероприятие проходит при поддержке Муниципального автономного учреждения «Центр социальных инициатив» при управлении физической культуры и спорта администрации города Томска и продюсерского центра «ARS-Альянс».
  </p>
  <p>Оперативное руководство подготовкой и проведением конкурса, непосредственной организацией отборочных туров занимается организационный комитет конкурса.</p>
  <p><span class='highlight'>Проведение конкурса  направлено на выявление и поддержку одаренного населения города Томска, повышение социального статуса творческой личности.</span></p>
  <p>Одна из задач организаторов конкурса заключается в предоставление возможности, выйти молодым талантам на сцену, заявить о себе.</p>
  <div class="divider"></div>
  <h1>Участники конкурса</h1>
  <p>
    К участию в конкурсе «Томские таланты» допускаются конкурсанты (дети и взрослые) без ограничений в возрасте — жители Томска и Томской области, самодеятельные, начинающие и профессиональные исполнители и коллективы. Количество участников не ограничено. Люди с ограниченными возможностями здоровья участвуют в конкурсе на общих условиях.
  </p>
  <div class="divider"></div>
  <h1>Номинации конкурса</h1>
  <ul>
    <li>
      <span>
        Вокал;
      </span>
    </li>
    <li>
      <span>
        Хореография;
      </span>
    </li>
    <li>
      <span>
        Художественное слово;
      </span>
    </li>
    <li>
      <span>
        Минута славы;
      </span>
    </li>
    <li>
      <span>
        Декоративно-прикладное искусство.
      </span>
    </li>
  </ul>
  <div class="divider"></div>
  <h1>
    Возрастные категории конкурса
  </h1>
  <ul>
    <li>
      <span>
        Индивидуальные исполнители
      </span>
    </li>
    <li>
      <span>
        Коллективы
      </span>
    </li>
  </ul>
  <div class="divider"> </div>
  <h1> Сроки проведения </h1>
  <p> Прием заявок — с <span class='highlight'>25.09.14</span> по <span class='highlight'>31.10.14</span> </p>
  <p> Отборочный тур — с <span class='highlight'>20.10.14</span> по <span class='highlight'>20.11.14</span> </p>
  <p> Конкурсные дни (по номинациям) — с <span class='highlight'>01.12.14</span> по <span class='highlight'>10.12.14</span> </p>
  <p> Гала-концерт  — 14.12.14 </p>
  <h1> Условия реализации конкурса </h1>
  <div class='padding_div'>1 тур – отборочный</div>
  <div style='clear: both'></div>
  <ul>
    <li>
      <span> Проводится в форме творческого кастинга для всех желающих в период с <span class='highlight'>20.10.14</span> по <span class='highlight'>20.11.14</span> </span>
    </li>
    <li>
      <span>
        Для участия в творческом кастинге <span class='highlight'>необходимо подготовить презентационные номера</span>.
      </span>
    </li>
    <li>
      <span>
        По результатам отборочного тура формируются группы по номинациям по 20 – 25 исполнителей в каждой.
      </span>
    </li>
    <li>
      <span>
        Конкурсанты – участники <span class='highlight'>номинации декоративно-прикладное творчество</span> представляют работы лично в оргкомитет. Возможно
        (по согласованию с оргкомитетом) представление конкурсной работы в электронном виде. Фотографию экспоната необходимо
        выслать по адресу: <%= mail_to 'talant.tomsk@mail.ru' %>. Работы, прошедшие во второй тур конкурса, участники номинации
        декоративно-прикладное творчество представляют лично в оргкомитет.
      </span>
    </li>
  </ul>
  <div class='padding_div'>2 тур – конкурсный</div>
  <div style='clear: both'></div>
  <ul>
    <li>
      <span>
        Проводится в форме конкурсных концертных программ для прошедших творческий кастинг в период с <span class='highlight'>01.12.14</span> по <span class='highlight'>10.12.14</span>
      </span>
    </li>
    <li>
      <span>
        Вокал – <span class='highlight'>01.12.14</span>
        <p>Хореография – <span class='highlight'>03.12.14</span></p>
        <p>Минута славы – <span class='highlight'>06.12.14</span></p>
        <p>Художественное слово – <span class='highlight'>08.12.14</span></p>
        <p>Декоративно-прикладное творчество - <span class='highlight'>01.12.14</span> по <span class='highlight'>10.12.14</span> (выставочные экспозиции)</p>
      </span>
    </li>
    <li>
      <span>
        Результатом второго тура является <span class='highlight'>определение участников гала-концерта:</span> призеров, лауреатов, победителей и обладателя
        Гран-при.
      </span>
    </li>
  </ul>
  <div class='padding_div'>3 тур – финальный</div>
  <div style='clear: both'></div>
  <p>Финал проходит <span class='highlight'>14.12.14</span> в форме Гала-концерта и включает в себя:</p>
  <ul>
    <li>
      <span>
        Подведение итогов и награждение участников, победителей и абсолютного победителя среди всех номинаций - обладателя
        Гран-при;
      </span>
    </li>
    <li>
      <span>
        Выступления призеров, лауреатов и победителей.
      </span>
    </li>
  </ul>
  <div class="divider"></div>
  <h1>Подведение итогов конкурса</h1>
  <p>Участники награждаются: призами; дипломами лауреатов 1-й, 2-й и 3-й степени; специальными призами; дипломами участника; призами от спонсоров, партнеров, организаторов. Средства массовой информации имеют право учреждать специальные призы, согласованные с оргкомитетом конкурса.</p>
  <div class="divider"></div>
  <div class="link">
    <%= link_to 'Скачать положение о конкурсе', 'http://talant.sbtech.tomsk.ru/data/documents/TOMSKIE-TALANTY-POLOZhENIE.docx', class: 'btn' %>
  </div>
</div>
