.right
  width: 800px

  .new_link
    float: right
    text-align: right
    width: 150px

  .events_wrapper
    width: 100%
    float: left

  .input
    width: 100%
    margin: 0 0 20px 0

    label
      margin: 0 10px 0 0

  .element
    +border-radius(5px)
    float: left
    border: 1px solid blue
    margin: 5px 5px 5px 0
    width: 300px
    padding: 3px

    .del_icon
      font-size: 12px
      float: right
      margin: 2px

  .related_items_wrapper
    border: 1px solid #ccc
    padding: 10px
    width: 700px

    .posters
      height: 300px
      margin-top: 15px
      overflow-y: scroll
      position: relative

      .poster
        float: left
        margin-bottom: 20px
        width: 200px

        .image
          float: left
          min-height: 73px
          max-height: 88px
          margin: 0 5px 0 0

        .details
          font-size: 13px

  .save
    margin: 10px 0 0 0
