<li class='item'>
  <div class="title">
    <%= link_to info['title'], info['url'], target: '_blank' %>
  </div>
  <div class="image">
    <ul>
      <% info['image'].each_with_index do |image, index| %>
        <% if index == 0 %>
          <li class='photo'>
            <%= link_to (image_tag image), info['url'], target: '_blank' %>
          </li>
        <% else %>
          <li class='photo'>
            <%= link_to (image_tag image, size: '116x78'), info['url'], target: '_blank' %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</li>
