<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 poster-wrapper">
  <div class="poster">
    <div class="title center-block">
      <%= link_to info['title'], info['url'], target: '_blank' %>
    </div>
    <div class="image">
      <% if info['image'].is_a?(Array) %>
        <%= link_to (image_tag image_real_size(info['image'][0]), class: "img-responsive"), info['url'], target: '_blank' %>
      <% else %>
        <%= link_to (image_tag image_real_size(info['image']), class: "img-responsive"), info['url'], target: '_blank' %>
      <% end %>
    </div>
    <div class="description">
      <%= info['description'] %>
    </div>
  </div>
</div>
