<p> Всего участников <%= @proposals.count %> </p>
<table>
  <thead>
    <th>Исполнитель</th>
    <th>Дата подачи заявки</th>
  </thead>
  <tbody>
    <% @proposals.each do |proposal| %>
      <tr>
        <td><%= proposal.performer %></td>
        <td><%= time_ago_in_words(proposal.created_at) %> назад </td>
        <td><%= link_to "Удалить", manage_proposal_path(proposal), method: 'DELETE', data: {confirm: "Удалить?"}%></td>
      </tr>
    <% end %>
  </tbody>
</table>
