<form action="" method="post">
  <input type="text" name="event[title]" />
  <textarea name="event[description]" rows="8" cols="40"></textarea>
  <input type="datatime" name="event[when]" />
  <input type="submit" />
</form>
