<h3 class="header">Школьная ярмарка 2015</h3>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <p><b>Информационно-развлекательный портал ЗнайГород и торгово-развлекательный центр «Изумрудный город»</b> приглашают всех-всех-всех на грандиозную Школьную ярмарку <b>22 и 23 августа 2015 года.</b> Вы сможете приобрести и заказать все необходимое к началу учебного года в одном месте. </p>
    <p>Собрать ребенка в школу – целая история. Нужно позаботиться обо всем:</p>
    <div class="row requirements-wrapper">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 stationery">
        <p> канцелярские товары и товары для творчества </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 tailoring">
        <p> парадная и спортивная детская одежда </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 books">
        <p> учебники и книги </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 computer">
        <p> цифровая техника для школьников </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 sport">
        <p> мебель для детской (школьные уголки) </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 work-place">
        <p> ранцы, портфели и рюкзаки </p>
      </div>
    </div>
    <p>Раньше для этого нужно было долго колесить по городу, посещать разные магазины, стоять в очередях. В этой суматохе томичи теряли так много драгоценных летних дней. Теперь все изменится!</p>
    <p>На трех этажах «Изумрудного города» вас будут ждать томские торговые компании и организации детского творчества и дополнительного образования. На ярмарке вы найдете полный список вещей для школьников и детей дошкольного возраста, начиная от карандашей и заканчивая школьной формой для детей. В ТЦ «Изумрудный город» продажа школьных товаров будет осуществляться без посредников, так как организаторами и главными продавцам будут производители и крупнейшие представители школьной тематики. Вы сможете приобрести нужные товары, выбрать для ребенка кружки и секции, поучаствовать в развлекательной программе.</p>
    <p>Родителям-томичам для подготовки детей в школу в 2015 настоятельно рекомендуем посетить нашу школьную ярмарку. В этом году у вас есть уникальная возможность купить школьные товары, такие как форму, рюкзаки, ранцы, тетрадки, канцтовары со скидкой до 30%. </p>
    <p>В рамках Школьной ярмарки пройдет уникальный благотворительный проект – «Учебниковорот». Каждый сможет принести старые ненужные учебники или выбрать недостающие совершенно бесплатно.</p>
    <p>На этой странице вас ждет Школьная ярмарка онлайн – вся информация об участниках ярмарки, советы по подготовке к школе, обзор необходимых товаров.</p>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="green-span"><span>Не пропустите Школьную ярмарку 2015: 22-23 августа в ТРЦ «Изумрудный город».</span></div>
      </div>
    </div>
    <p><%= link_to "ПОДАТЬ ЗАЯВКУ", new_proposal_path, class: "btn btn-danger new-proposal-button" %></p>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 widget">
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>
    <!-- VK Widget -->
    <div id="vk_groups"></div>
    <script type="text/javascript">
      VK.Widgets.Group("vk_groups", {mode: 2, width: "auto", height: "500"}, 98957623);
    </script>
  </div>
</div>
