<div class="show_conditions">
  <h1>
    Вокальное исполнение
  </h1>
  <ul>
    <li><span>Участники представляют жюри любой вокальный номер, <span class='highlight '>индивидуальный исполнитель</span> - продолжительностью <span class='highlight'>не более 2
          минут</span>, <span class='highlight'>коллектив - не более 3 минут</span>. Номер исполняется без музыкального сопровождения, под инструментальное
        сопровождение или под фонограмму «-1».</span></li>
    <li>
      <span>
        Репертуар участники подбирают по своему усмотрению.
      </span>
    </li>
    <li>
      <span>
        Репертуар и сценический образ должен соответствовать возрасту исполнителя.
      </span>
    </li>
    <li>
      <span>
        Конкурсное произведение может исполняться в любом вокальном жанре и направлении.
      </span>
    </li>
    <li>
      <span>
        Костюмы должны быть подобраны в соответствии с возрастом участников и характером вокальной композиции. Не
        допускаются участники в прозрачных и излишне открытых сценических костюмах.
      </span>
    </li>
    <li>
      <span>
        Необходимо предоставить в оргкомитет при очной регистрации или во время проведения отборочного тура на концертной
        площадке музыкальное сопровождение номера – фонограмму либо уведомить организаторов об инструментальном
        сопровождении или отсутствии музыкального сопровождения.
      </span>
    </li>
    <li>
      <span>
        <span class='highlight'>Принимаются</span> только качественные фонограммы на CD дисках, флеш-накопителях с указанием номинации, ФИО исполнителя
        или названия коллектива, названия творческого номера, продолжительности произведения.
      </span>
    </li>
    <li>
      <span>
        <span class='highlight'>Допускается</span> прописанный или живой бэк-вокал для солистов, для коллективов - прописанный бэк-вокал.
      </span>
    </li>
    <li>
      <span>
        Вокальные коллективы во время выступления не используют подтанцовку.
      </span>
    </li>
    <span>
      <span>
        Для солистов - <span class='highlight'>не допускается</span> инструментальное или голосовое дублирование основной партии.
      </span>
    </span>
    <li>
      <span>
        Микрофоны, используемые во время отборочных прослушиваний, конкурсных выступлений отстроены для всех участников
        одинаково. <span class='highlight'>Настройка микрофонов</span>, индивидуально в соответствии с требованиями каждого исполнителя <span class='highlight'>не допускается</span>.
      </span>
    </li>
  </ul>
<div class="divider"></div>
  <h1>
    Хореографическое исполнение
  </h1>
  <ul>
    <li>
      <span>
        Участники представляют жюри любой хореографический номер в любом жанре (народный танец, эстрадный танец, смешанный
        стиль и др.) <span class='highlight'>продолжительностью не более 3 минут</span>, исполняемый без музыкального сопровождения, под инструментальное
        сопровождение или под фонограмму «-1», «+1».
      </span>
    </li>
    <li>
      <span>
        Сольные участники конкурса во время выступления могут использовать подтанцовку.
      </span>
    </li>
    <li>
      <span>
        Репертуар участники подбирают по своему усмотрению.
      </span>
    </li>
    <li>
      <span>
        Репертуар и сценический образ должен соответствовать возрасту исполнителя.
      </span>
    </li>
    <li>
      <span>
        Конкурсная работа может исполняться в любом танцевальном жанре и направлении.
      </span>
    </li>
    <li>
      <span>
        Костюмы должны быть подобраны в соответствии с возрастом участников и характером хореографической композиции. Не
        допускаются участники в прозрачных и излишне открытых сценических костюмах.
      </span>
    </li>
    <li>
      <span>
        Необходимо предоставить при очной регистрации или во время проведения отборочного тура на концертной площадке в
        оргкомитет музыкальное сопровождение номера – фонограмму либо уведомить оргкомитет об инструментальном
        сопровождении или отсутствии музыкального сопровождения.
      </span>
    </li>
    <li>
      <span>
        Принимаются только качественные фонограммы на CD дисках, флеш-накопителях с указанием номинации, ФИО исполнителя
        или названия коллектива, названия творческого номера, продолжительности произведения.
      </span>
    </li>
  </ul>

<div class="divider"></div>
  <h1>
    Минута славы
  </h1>
  <ul>

    <li>
      <span>
        Участники представляют жюри любой оригинальный номер, <span class='highlight'>продолжительностью не более 2 минут</span>, исполняемый без
        музыкального сопровождения, под инструментальное сопровождение или под фонограмму «-1», «+1».
      </span>
    </li>
    <li>
      <span>
        Сольные участники конкурса во время выступления могут использовать ассистентов.
      </span>
    </li>
    <li>
      <span>
        Обязательно указать в анкете реквизит исполнителя.
      </span>
    </li>
    <li>
      <span>
        Репертуар участники подбирают по своему усмотрению.
      </span>
    </li>
    <li>
      <span>
        Участники представляют на конкурс номер, отражающий их уникальную способность.
      </span>
    </li>
    <li>
      <span>
        Репертуар и сценический образ должен соответствовать возрасту исполнителя.
      </span>
    </li>
    <li>
      <span>
        Конкурсная работа может исполняться в любом оригинальном жанре и направлении.
      </span>
    </li>
    <li>
      <span>
        Костюмы должны быть подобраны в соответствии с возрастом участников и характером композиции. Не допускаются участники
        в прозрачных и излишне открытых сценических костюмах.
      </span>
    </li>
    <li>
      <span>
        Необходимо предоставить при очной регистрации или во время проведения отборочного тура на концертной площадке в
        оргкомитет фонограмму сопровождения номера либо уведомить оргкомитет об инструментальном сопровождении или
        отсутствии музыкального сопровождения.
      </span>
    </li>
    <li>
      <span>
        Принимаются только качественные фонограммы на CD дисках, флеш-накопителях с указанием номинации, ФИО исполнителя
        или названия коллектива, названия творческого номера, продолжительности произведения.
      </span>
    </li>
    <li>
      <span>
        Микрофоны, используемые во время отборочных прослушиваний, конкурсных выступлений отстроены для всех участников
        одинаково. Настройка микрофонов, индивидуально, в соответствии с требованиями каждого исполнителя не допускается.
      </span>
    </li>
  </ul>

<div class="divider"></div>
  <h1>
    Художественное слово (только сольное исполнение)
  </h1>
  <ul>
    <li>
      <span>
        Участники представляют жюри <span class='highlight'>1 произведение</span>: прозу, поэзию, сказ, литературно-музыкальную композицию
        <span class='highlight'>продолжительностью не более 2 минут</span>, исполняемый без музыкального сопровождения, под инструментальное сопровождение
        или под фонограмму «-1».
      </span>
    </li>
    <li>
      <span>
        Репертуар участники подбирают по своему усмотрению.
      </span>
    </li>
    <li>
      <span>
        Репертуар и сценический образ должен соответствовать возрасту исполнителя.
      </span>
    </li>
    <li>
      <span>
        Конкурсное произведение может исполняться в любом художественном жанре и направлении.
      </span>
    </li>
    <li>
      <span>
        Костюмы должны быть подобраны в соответствии с возрастом участников и характером художественной композиции. Не
        допускаются участники в прозрачных и излишне открытых сценических костюмах.
      </span>
    </li>
    <li>
      <span>
        Необходимо (при наличии) предоставить в оргкомитет при очной регистрации или во время проведения отборочного тура на
        концертной площадке музыкальное сопровождение номера – фонограмму либо уведомить организаторов об инструментальном
        сопровождении или отсутствии музыкального сопровождения.
      </span>
    </li>
    <li>
      <span>
        Принимаются только качественные фонограммы на CD дисках, флеш-накопителях с указанием номинации, ФИО исполнителя,
        названия творческого номера, продолжительности произведения.
      </span>
    </li>
    <li>
      <span>
        Микрофоны, используемые во время отборочных прослушиваний, конкурсных выступлений отстроены для всех участников
        одинаково. Настройка микрофонов, индивидуально в соответствии с требованиями каждого исполнителя не допускается.
      </span>
    </li>
  </ul>

<div class="divider"></div>
  <h1>
    Декоративно-прикладное творчество
  </h1>
  <ul>

    <li>
      <span>
        От каждого участника принимается неограниченное количество работ.
      </span>
    </li>
    <li>
      <span>
        Конкурсанты – участники номинации декоративно-прикладное творчество <span class='highlight'>представляют работы лично в оргкомитет</span>. Возможно
        (по согласованию с оргкомитетом) представление конкурсной работы в электронном виде. Фотографию экспоната необходимо
        выслать по адресу: <%= mail_to 'talant.tomsk@mail.ru' %>
    </span>
  </li>
  <li>
    <span>
      Работы, прошедшие во второй тур конкурса, участники номинации декоративно-прикладное творчество представляют лично в
      оргкомитет.
    </span>
  </li>
  <li>
    <span>
      На конкурс допускаются коллективные работы (работы выполненные группой соавторов)
    </span>
  </li>
  <li>
    <span>
      Автор или группа соавторов может представить любое количество работ.
    </span>
  </li>
  <li>
    <span>
      Авторы, добровольно предоставившие работы на выставку-продажу, участвуют в благотворительной акции, вырученные
      средства от которой пойдут на помощь Благотворительному фонду «Обыкновенное чудо».
    </span>
  </li>
  <li>
    <span>
      Нереализованные работы передаются в фонд «Обыкновенное чудо».
    </span>
  </li>
  <li>
    <span>
      Работы (кроме экспонатов выставки-продажи), предоставленные в оргкомитет, после подведения итогов конкурса
      возвращаются авторам. Организационный комитет <span class='highlight'>НЕ организует транспортировку</span> возвращаемых работ.
    </span>
  </li>
  <li>
    <span>
      <span class='highlight'>Работы должны иметь</span> законченный вид, подписаны (ФИО автора, возраст, материал и техника исполнения), <span class='highlight'>должны быть
        снабжены</span> петельками или крючками для подвески, подставками, опорами и т.д.
    </span>
  </li>
</ul>
<div class="divider"></div>
<%= button_tag 'Скачать условия участия', class: 'btn' %>
</div>
