<div style='clear: both'>

</div>
<div class="footer">
  <div class="text">
    <p>
      <span class="highlight">Куратор проекта:</span> Трофимова Кристина Михайловна (тел: 8-952-886-28-46)
    </p>
    <p>
      <span class="highlight">Пресс-секретарь проекта:</span> Бессонова Мария Дмитриевна (тел: 8-913-840-23-15)</span>
  </p>
  <p>
    <span class="highlight">
      E-mail: <%= mail_to 'talant.tomsk@mail.ru' %>
  </span>
</p>
  </div>
</div>
