<div class="social_likes_wrapper">
  <div class="social-likes" data-url="http://talant.znaigorod.ru" data-title="Томские таланты">
    <div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
    <div class="twitter" title="Поделиться ссылкой в Твиттере" data-via="znaigorod">Twitter</div>
    <div class="mailru" title="Поделиться ссылкой в Моём мире">Мой мир</div>
    <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
    <div class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</div>
    <div class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</div>
  </div>
</div>
