.notify_wrapper
  margin: 0 auto
  position: relative
  width: 300px

  .notify
    background-color: rgba(#136a23, 0.9)
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    position: absolute
    top: 0
    width: 100%

    .notify_text
      display: table-cell
      height: 100px
      text-align: center
      vertical-align: middle
