.participants
  margin: 0 auto
  width: 870px

  .navigation
    .links_wrapper

      span
        float: left
        margin-right: -6px
        z-index: 10
  ul
    +inline-block
    list-style: none !important
    margin: 20px 0
    width: 100%

    li
      +border-radius(5px)
      border: 1px solid #ccc
      float: left
      padding: 10px
      width: 373px
      margin: 10px 10px 10px 0

      .name
        color: white
        font-size: 18px
        margin: 0 0 5px 0px
        text-align: center

      .image
        img
          &:hover
            +opacity(.5)

