<p> Всего участников <%= @participants.count %> </p>
<table>
  <thead>
    <th>Исполнитель</th>
    <th>Дата подачи заявки</th>
  </thead>
  <tbody>
    <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.performer %></td>
        <td><%= time_ago_in_words(participant.created_at) %> назад </td>
      </tr>
    <% end %>
  </tbody>
</table>
